.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 509px;
    min-width: 320px;
    background: #f8f8f8;
   
   
   
  }
  
  /*title start*/
  .content__title{
    width: 288px;
    height: 40px;
    margin: 16px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    
  }
  
  .content__title::before{
    position: absolute;
    content: " ";
    left: 0px;
    height: 40px;;
    border-left: 4px solid #a3ffe7;
    border-radius: 0 5px 5px 0;
    
  }
  
  /*title end*/


/* nav start*/
  .content__nav{
  width: 100%;
  margin-left: 16px;
  }
  
  .content__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline
  }
  

  .content__link{
    display: inline-block;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #7e7e82;
    font-size: 16px;
  }


  .content__link.active {
    border:#a3ffe7 2px solid;
    padding: 8px;
    border-radius: 6px;
  }
  
/*nav end*/

/* aside start*/
  .content__sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .content__text{
   padding: 0;
   margin: 0;
  }

  .content__text--main{
    width: 100%;
    padding: 0 16px 0 16px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  
 .content__subtext {
    display: none;
  }
  .content__subtext--sub{
    display: none;
  }
  
  .content__subtitle{
  
    height: 24px;
    margin-left: 48px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .content__subtitle:before{
    content: '';
    position: absolute;
    top: 357px;
    left: 28px;
    height: 5px;
    width: 5px;
    border-left: 2px solid #a3ffe7;
    border-bottom: 2px solid #a3ffe7;
    transform: rotate(-45deg);
  }
    
  .content__subtitle::after{
    content: '';
    position: absolute;
    top: 362px;
    left: 28px;
    height: 5px;
    width: 5px;
    border-left: 2px solid #a3ffe7;
    border-bottom: 2px solid #a3ffe7;
    transform: rotate(-45deg);
  }


  /*text end*/

/*image start*/
  .content__image {
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
  }
  
  .content__links + .content__links {
    margin-left: 16px;
  }
  
  /*image end */

  /*start adaptive 320px-784px screen*/
  @media (min-width: 320px) and (max-width: 784px) {
    .content {
      width: 100%;
      height: 416px;
    }

    .content__title {
      margin: 24px;
    }

    .content__nav {
      width: 100%;
      margin:0;
    }

    .content__links {
      margin-left: 24px;
    }

    .content__sidebar{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .content__text {
      width: 100%;
      height: 160px;
    }

    .content__text--main {
      margin: 32px 48px 0px 24px;
      padding-left: 0;
      padding-right: 48px;
    }

    .content__subtext{
      display: block;
      margin-left: 24px;
      padding-left: 0;
      font-size: 14px;
  
    }

    .content__subtitle {
      margin: 10px 0 54px 57px;
    }
    
    .content__subtitle::before {
    top: 402px;
    left: 32px;
    }

    .content__subtitle::after {
      top: 407px;
      left: 32px;
    }

    .content__image{
     margin-right: 40px;
    }

  }
/*end adaptive 320px-784px screen*/

@media (min-width: 784px) and (max-width: 1120px) {
  .menu {
    display: none;
  }
.content{
  width: 100%;
  height: 534px;
}

.content__title{
  margin: 42px 0 0 32px;
}

.content__nav{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 32px;
}

.menu__links + .menu__links {
  margin-left: 20px;
}

.content__links{
  display: flex;
  flex-wrap: wrap;
}

.content__sidebar{
display: flex;
flex-direction: row;
}

.content__text{
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
}

.content__text--main{
  margin: 20px 36px 0 32px;
  padding-right: 36px;
  padding-left: 0;
}

.content__subtext{
  display: block;
  margin: 0px 36px 0px 32px;
}

.content__subtext--sub{
  display: block;
  margin: -0px 36px 0px 32px;
}

.content__subtitle {
  margin: 15px 0 0 64px;
}

.content__subtitle::before {
  top: 385px;
  left: 42px;
  }

  .content__subtitle::after {
    top: 380px;
    left: 42px;
  }

  .content__image{
    margin:20px  30px 0 0;
   }


}